[submodule "hardware/kicad/lib/espressif"]
	path = hardware/kicad/lib/espressif
	url = git@github.com:espressif/kicad-libraries.git
[submodule "src/ros2_aruco"]
	path = src/ros2_aruco
	url = git@github.com:JMU-ROBOTICS-VIVA/ros2_aruco.git
[submodule "src/ros2_usb_camera"]
	path = src/ros2_usb_camera
	url = https://github.com/klintan/ros2_usb_camera
[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = foxy
