<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="main_camera">
    <xacro:include filename="inertial_macros.xacro"/>
    <link name="camera_world_link">
            <visual>
            <geometry>
                <box size="0.01 0.01 0.01"/>            
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.01 0.01 0.01"/>            
            </geometry>
        </collision>
        <xacro:inertial_box mass="1000" x="0.01" y="0.01" z="0.01">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    <link name="camera_link">
        <visual>
            <geometry>
                <box size="0.2 0.1 0.1"/>            
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.2 0.1 0.1"/>            
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.0001" x="0.2" y="0.1" z="0.1">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

    <gazebo reference="camera_link">
        <material>Gazebo/Black</material>

        <sensor name="main_camera" type="camera">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
            </plugin>
        </sensor>
    </gazebo>

    <joint name="camera_joint" type="fixed">
        <parent link="camera_world_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0 2" rpy="0 ${pi/2} 0"/>
    </joint>

    <link name="camera_link_optical"></link>

    <joint name="camera_joint_optical" type="fixed">
        <parent link="camera_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>
</robot>
